{% extends "base.html" %}

{% block content %}
<head>
    <title>Gift Pair List</title>
</head>
<body>
    <h1>Gift Pair List</h1>
    
    {% regroup gift_pairs by event as event_list %}

    {% for event in event_list %}
        <h2>Event: {{ event.grouper.name }}</h2>
        <ul>
            {% regroup event.list by group as group_list %}

            {% for group in group_list %}
                <h3>Group: {{ group.grouper.name }} for date: {{ gift_pairs.date }}</h3>
                <li>
                    <button class="reveal-button" data-group="{{ group.grouper.name }}">Reveal</button>
                    <ul class="hidden" data-group="{{ group.grouper.name }}" style="display: none;">
                        {% for pair in group.list %}
                            <li>Giver: {{ pair.giver.name }} -> Receiver: {{ pair.receiver.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <script>
        const revealButtons = document.querySelectorAll('.reveal-button');
        revealButtons.forEach(button => {
            button.addEventListener('click', () => {
                const groupName = button.getAttribute('data-group');
                const giverReceiverList = document.querySelectorAll(`ul[data-group="${groupName}"]`);
                giverReceiverList.forEach(list => {
                    if (list.style.display === 'none') {
                        list.style.display = 'block';
                    } else {
                        list.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>
{% endblock %}
