{% extends "base.html" %}

{% block content %}
<head>
    <title>Gift Pair List</title>
</head>
<body>
    <h1>Gift Pair List</h1>
    
    <ul>
        {% for gift_pair in gift_pairs %}
            <p>
                Event: {{ gift_pair.event }} For group: {{ gift_pair.group }} Date: {{ group.date }}
                <li>
                Giver: {{ gift_pair.giver }} -> Receiver: {{ gift_pair.receiver }}
                </li>
            </p>
        {% endfor %}
    </ul>
</body>
    
    {% endblock %}
