{% extends "base.html" %}

{% block content %}
</head>
<body>

    <style>
        body {
            background-color: #EBD8B2;
            font-family: 'Helvetica', sans-serif;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        .info-bar {
            background-color: #654E92;
            color: #A5C0DD;
            padding: 10px 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        .menu-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .menu-link {
            color: #EBD8B2;
            text-decoration: none;
            font-weight: bold;
            margin: 0 20px;
        }

        .menu-link:hover {
            text-decoration: underline;
        }

        .user-info {
            color: #A5C0DD;
            font-weight: bold;
        }

        .main.content {
            margin-top: 60px;
        }

        .games-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            overflow: auto;
            max-height:180px;
        }

        .result-item {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
        }

        a button {
            background-color:#A5C0DD;
            color: #654E92;
            cursor: pointer;
            font-size: 15px;
            text-decoration: none;
            margin: 0 10px;
            padding: 10px 10px;
            border: none;
            border-radius: 10px;
            font-family: 'Helvetica', sans-serif;
            font-weight: normal;
        }

        a button:hover {
            background-color: #654E92;
            color: #EBD8B2;
        }

        .reveal-button {
            background-color:#A5C0DD;
            color: #654E92;
            cursor: pointer;
            font-size: 15px;
            text-decoration: none;
            margin: 0 10px;
            padding: 10px 10px;
            border: none;
            border-radius: 10px;
            font-family: 'Helvetica', sans-serif;
            font-weight: normal;
        }

        .reveal-button:hover {
            background-color: #654E92;
            color: #EBD8B2;
        }

    </style>
    <div class="info-bar">
        <div class="menu-container">
            <span class="user-info">User logged: {{ user.username }}</span>
            {% if user.is_authenticated %}
            <a class="menu-link" href="/logout/">Logout</a>
            <a class="menu-link" href="/change-password/">Change password</a>
            {% else %}
            <a class="menu-link" href="/login/">Login</a>
            {% endif %}
            <a class="menu-link" href="{% url 'delete_account' user.id %}">Delete account</a>
            <a class="menu-link" href="/quick-game/">Quick game</a>
            <a class="menu-link" href="/my-gift-pairs/">My games</a>
        </div>
    </div>

    <div class="main content">

        <h1>Games created by me</h1>

        <div class="games-container">
            {% for game in game_data %}
                {% if game.date >= today %}
                    <div class="result-item">
                        <!-- Game Number: {{ game.game_number }} -->
                        Group: {{ game.group_name }} | Event: {{ game.event_name }} | Date: {{ game.date }} | Price limit: {{ game.price_limit }}
                        <ul class="hidden" style="display: none;">
                            {% for pair in game.pairs %}
                                <li>
                                    Pair: {{ pair.giver__first_name }} {{ pair.giver__last_name }} -> {{ pair.receiver__first_name }} {{ pair.receiver__last_name }}
                                </li>
                            {% endfor %}
                        </ul>
                        <button class="reveal-button" data-group="{{ game.game_number }}">Reveal</button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <a href="/new-game/"><button>New game</button></a>

    <div class="section-container"></div>
        <h1>Your created events:</h1>
        <ul>
            {% for event in events %}
                <li>{{ event.name }} | {{ event.date }} | {{ event.description }} | {{ event.organizer }}</li>
                <a href="/edit-event/{{ event.id }}/">Edit</a>
                <a href="/delete-event/{{ event.id }}/">Delete</a>
            {% endfor %}
        </ul>
        
        <a href="/add-event/"><button>Add event</button></a>
    </div>

    <div class="section-container">
        <h1>Your created groups:</h1>
        <ul>
            {% for group in groups %}
                <li>{{ group.name }} | {{ group.exchange_date }} | {{ group.price_limit }} | {{ group.creator }}</li>
                <a href="/edit-group/{{ group.id }}/">Edit</a>
                <a href="/delete-group/{{ group.id }}/">Delete</a>
                <ul>
                    {% for participant in group.participants.all %}
                        <li>{{ participant.name }} | {{ participant.email }} | {{ participant.wishlist }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <a href="/add-group/"><button>Add group</button></a>
    </div>

    <div class="section-container">
        <h1>Your created players:</h1>
        <ul>
            {% for person in players %}
                <li>{{ person.name }} | {{ person.email }} | {{ person.wishlist }}</li>
                <a href="/edit-player/{{ person.id }}/">Edit</a>
                <a href="/delete-player/{{ person.id }}/">Delete</a>
            {% endfor %}
        </ul>
        <a href="/add-player/"><button>Add player</button></a>
    </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const revealButtons = document.querySelectorAll('.reveal-button');
            revealButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const groupName = button.getAttribute('data-group');
                    const groupContainer = button.parentElement.querySelector('.hidden');
                    if (groupContainer.style.display === 'none' || groupContainer.style.display === '') {
                        groupContainer.style.display = 'block';
                        button.textContent = 'Hide';
                    } else {
                        groupContainer.style.display = 'none';
                        button.textContent = 'Reveal';
                    }
                });
            });
        });
    </script>

{% endblock %}

{% block footer %}
<div class="blank-el-for-footer"></div>
<footer>
    <div class="footer-container">
        <p>Created by - <a class="author-link" href="https://github.com/mj0d3k?tab=repositories">mj0d3k</a></p>
        <p class="mail-help">Get help: mj0d3k.py@gmail.com</p>
    </div>
</footer>
{% endblock %}
